# Introduction
Welcome to the **[Learn Pandas](https://www.kaggle.com/learn/pandas)** track. These hands-on exercises are targeted for someone who has worked with Pandas a little before. 
Each page has a list of `relevant resources` you can use if you get stumped. The top item in each list has been custom-made to help you with the exercises on that page.

The first step in most data analytics projects is reading the data file. In this section, you'll create `Series` and `DataFrame` objects, both by hand and by reading data files.

# Relevant Resources
* ** [Creating, Reading and Writing Reference](https://www.kaggle.com/residentmario/creating-reading-and-writing-reference)**
* [General Pandas Cheat Sheet](https://assets.datacamp.com/blog_assets/PandasPythonForDataScience.pdf)

# Set Up

Run the code cell below to load libraries you will need (including coad to check your answers).

In [ ]:
import pandas as pd
pd.set_option('max_rows', 5)
from learntools.advanced_pandas.creating_reading_writing import *

# Checking Answers

You can check your answers in each of the exercises that follow using the  `check_qN` function provided in the code cell above (replacing `N` with the number of the exercise). For example here's how you would check an incorrect answer to exercise 1:

In [ ]:
check_q1(pd.DataFrame())

For the questions that follow, if you use `check_qN` on your answer, and your answer is right, a simple `True` value will be returned.

If you get stuck, you may run the `print(answer_qN())` function to print the answer outright.

# Exercises

**Exercise 1**: Create a `DataFrame` that looks like this:

![](https://i.imgur.com/Ax3pp2A.png)

In [13]:
# Your code here
import pandas as pd
DataFrame = pd.DataFrame({"Apples":35,"Bananas":21}, index = [0])
DataFrame

   Apples  Bananas
0      35       21

**Exercise 2**: Create the following `DataFrame`:

![](https://i.imgur.com/CHPn7ZF.png)

In [11]:
# Your code here
import pandas
DataFrame = pd.DataFrame({"Apples":[35,41],"Bananas":[21,34]}, index = ["2017 Sales","2018 Sales"])
DataFrame

            Apples  Bananas
2017 Sales      35       21
2018 Sales      41       34

**Exercise 3**: Create a `Series` that looks like this:

```
Flour     4 cups
Milk       1 cup
Eggs     2 large
Spam       1 can
Name: Dinner, dtype: object
```

In [7]:
# Your code here
import pandas as pd
pd.Series(['4 cups','1 cup', '2 large','1 can'], index = ['Flour','Milk','Eggs','Spam'],name = 'Dinner' )

Flour     4 cups
Milk       1 cup
Eggs     2 large
Spam       1 can
Name: Dinner, dtype: object

**Exercise 4**: Read the following `csv` dataset on wine reviews into the a `DataFrame`:

![](https://i.imgur.com/74RCZtU.png)

The filepath to the CSV file is `../input/wine-reviews/winemag-data_first150k.csv`.

In [5]:
# Your code here 
import pandas as pd
df = pd.read_csv("../input/wine-reviews/winemag-data_first150k.csv")
df.head()

   Unnamed: 0           ...                              winery
0           0           ...                               Heitz
1           1           ...             Bodega Carmen Rodríguez
2           2           ...                            Macauley
3           3           ...                               Ponzi
4           4           ...                Domaine de la Bégude

[5 rows x 11 columns]

**Exercise 6****: Suppose we have the following `DataFrame`:

In [ ]:
q6_df = pd.DataFrame({'Cows': [12, 20], 'Goats': [22, 19]}, index=['Year 1', 'Year 2'])

Save this `DataFrame` to disc as a `csv` file with the name `cows_and_goats.csv`.

In [3]:
# Your code here
import pandas as pd
q6_df = pd.DataFrame({'Cows': [12, 20], 'Goats': [22, 19]}, index=['Year 1', 'Year 2'])
q6_df.to_csv()
q6_df.to_csv("G:/ZeroToDeepLearning/cows_and_goats.csv", sep='\t', encoding='utf-8')

**Exercise 7**: This exercise is optional. Read the following `SQL` data into a `DataFrame`:

![](https://i.imgur.com/mmvbOT3.png)

The filepath is `../input/pitchfork-data/database.sqlite`. Hint: use the `sqlite3` library. The name of the table is `artists`.

In [17]:
# Your Code Here
import sqlite3
conn = sqlite3.connect("../input/pitchfork-data/database.sqlite")
type(conn)
DataFrame = pd.read_sql_query("SELECT * FROM artists", conn)
DataFrame

       reviewid               artist
0         22703       massive attack
1         22721             krallice
2         22659         uranium club
3         22661              kleenex
4         22661              liliput
5         22725                 taso
6         22722      various artists
7         22704          little simz
8         22694           yotam avni
9         22714            brian eno
10        22724              the lox
11        22715        harry bertoia
12        22745       run the jewels
13        22700       steven warwick
14        22720           yasiin bey
15        22699            smoke dza
16        22699            pete rock
17        22665      various artists
18        22666              senyawa
19        22719    chance the rapper
20        22719              jeremih
21        22667      jamire williams
22        22691            the-dream
23        22702       worm ouroboros
24        22718      nine inch nails
25        22706           elder ones
26        22695      the microphones
27        22713            ben frost
28        22705      kacey musgraves
29        22532              jay som
...         ...                  ...
18801       831                 blur
18802      7339          songs: ohia
18803      4850               looper
18804      8598  the wedding present
18805      1608            cornelius
18806      1610            cornelius
18807      4324        damien jurado
18808      7449         squarepusher
18809      1514               clinic
18810      8677                wilco
18811      7051              sebadoh
18812      6435      poster children
18813      1014       built to spill
18814      7460         starflyer 59
18815      2965        jason falkner
18816      7981              the the
18817      8835                  xtc
18818      6138            pan sonic
18819      1242             califone
18820      1023     burning airlines
18821       287   arling and cameron
18822      3741  john wesley harding
18823      6455           sam prekop
18824       361             autechre
18825      6372                 pole
18826      1535              coldcut
18827      1341              cassius
18828      5376             mojave 3
18829      2413        don caballero
18830      3723       neil hamburger

[18831 rows x 2 columns]

## Keep going

Move on to the **[indexing, selecting and assigning workbook](https://www.kaggle.com/kernels/fork/587910)**

___
This is part of the [Learn Pandas](https://www.kaggle.com/learn/pandas) series.