In [1]:
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

In [9]:
data1 = pd.read_csv("../data/reviews.csv")
data2 = pd.read_csv("../data/users.csv")
data3 = pd.read_csv("../data/wines.csv")

In [31]:
data1.head(1)

   id  username  wine_id  rating                             comment
0   0  jadianes        0       4  Beautiful Manzanilla. Great price.

In [13]:
colums = data3.id
index = data2.id
values = data1.rating

In [16]:
df = pd.DataFrame(data=values,index = index,columns = colums)

In [17]:
df

id   0    1    2    3    4    5    6    7    8    9    10
id
1   NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
2   NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
3   NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
4   NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
5   NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
6   NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
7   NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
8   NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN

In [23]:
num_users = len(data2.id)
num_users

8

In [26]:
all_wine_ids = data3.id
max(all_wine_ids)

10

In [18]:
from scipy.sparse import dok_matrix, csr_matrix

In [27]:
ratings_m = dok_matrix((num_users, max(all_wine_ids)+1), dtype=np.float32)

In [30]:
ratings_m.values()

dict_values([])

In [43]:
for i in range(num_users): # each user corresponds to a row, in the order of all_user_names
    user_reviews = data1
    a,b =data1.apply(lambda x: (x["wine-id"],x["rating"]))
#     for user_review in user_reviews:
#         print(user_review)
#         ratings_m[i,int(user_review["wine_id"])] = int(user_review["ratings"])

KeyError: ('wine-id', 'occurred at index id')